* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #165163;
    min-height: 100vh;
}

#root {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: start;
}

/********** Large(Laptop) devices **********/
@media (min-width: 1280px) {
    .container {
        flex-direction: row;
    }
}

/********** Medium devices **********/
@media (min-width: 960px) and (max-width: 1279px) {
    .container {
        flex-direction: row;
    }
}

/********** Small(Tablet) devices **********/
@media (min-width: 600px) and (max-width: 959px) {
    .container {
        flex-direction: column-reverse;
    }
}

/********** Extra-Small(Phone) devices **********/
@media (min-width: 370px) and (max-width: 599px) {
    .container {
        flex-direction: column-reverse;
    }
}
